 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain "></i>
      <i class="devicon-java-plain "></i>
      <i class="devicon-javascript-plain "></i>
      <i class="devicon-cplusplus-plain "></i>
      <p>Experienced in various programming languages with 
        a focus on creating efficient algorithms. Skilled in 
        both object-oriented and functional programming.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original"></i>
      <i class="devicon-trello-plain"></i>
      <i class="devicon-mysql-plain"></i>
      <p>Experienced with version control, team collaboration, 
        and project management. Knowledgeable in database design 
        and building backend solutions.</p>
    </div>
</div>
