 <div class="user-details">
  <h1>My Projects</h1>
 </div>
 
 <div class="user-projects">
  <div class="images-right">
  <img alt="Happy Paws" src="{{ "/assets/img/patas-felizes.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
  <h3>Patas Felizes</h3>
  <ul>
  <li>Desktop, JavaFX, Project Management</li>
  </ul>
  <p>Management system for animal protection organizations. Controls donations, expenses, tasks, and animal information. Simplifies adoptions and medical care.</p>
  <a class="project-link" href="https://github.com/micael-farias/PatasFelizes">View Project</a>
  </div>
 </div>

 <div class="user-projects">
  <div class="images-left saldo-positivo-images">
  <img alt="Positive Balance" src="{{ "/assets/img/saldo-positivo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
  <h3>Saldo Positivo</h3>
  <ul>
  <li>Mobile, TypeScript, React Native</li>
  </ul>
  <p>Mobile app for personal finance management.</p>
  <a class="project-link" href="https://github.com/Pedro-Emanuel/saldo-positivo">View Project</a>
  </div>
 </div>
 
 <div class="user-projects">
  <div class="images-right museu-website-images">
  <img alt="Jacinto de Sousa Museum" src="{{ "/assets/img/museu-website.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
  <h3>Website Jacinto de Sousa</h3>
  <ul>
  <li>Web, React, Firebase, Cypress</li>
  </ul>
  <p>Website developed for the Jacinto de Sousa Museum in Quixadá. Developed for the Integrated Project II course.</p>
  <a class="project-link" href="https://github.com/PI-II-Museu-Historico-Jacinto-de-Sousa/website-museu-jacinto-sousa">View Project</a>
  </div>
 </div>
 
 <div class="user-details">
  <h1>Other Projects</h1>
 </div>

 <div class="user-projects">
   <div class="contents-left">
     <h3>AgendeRU</h3>
     <ul>
       <li>Python, Selenium, Automation</li>
     </ul>
     <p>Script that automates meal booking at UFC's University Restaurant. Uses Selenium to interact with SIGAA, offering manual, semi-automatic, and automatic modes.</p>
     <a class="project-link" href="https://github.com/Pedro-Emanuel/agendar_ru">View Project</a>
   </div>
 </div>
 <div class="user-projects">
   <div class="contents-left">
     <h3>Battleship</h3>
     <ul>
       <li>Java, JavaFX, JUnit5, Mockito, SQLite</li>
     </ul>
     <p>Implementation of the Battleship game using JavaFX. Academic project focused on software verification and validation practices.</p>
     <a class="project-link" href="https://github.com/kaiop00/Batalha_Naval">View Project</a>
   </div>
 </div>
 <div class="user-projects">
   <div class="contents-left">
     <h3>Arduino Remote</h3>
     <ul>
       <li>Java, Processing, Arduino</li>
     </ul>
     <p>Desktop application for computer control via Arduino commands. Allows linking microcontroller events to PC actions.</p>
     <a class="project-link" href="https://github.com/Pedro-Emanuel/Arduino-Remoto/tree/master">View Project</a>
   </div>
 </div>